<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="WeChatToken" value="31e262db737d4658c53d220b54e0f289"/>
    </appSettings>
    <connectionStrings />
    <system.web>
        <sessionState mode="StateServer"></sessionState>
        <customErrors mode="Off"></customErrors>
        <compilation debug="true">

        </compilation>
    </system.web>
</configuration>
