<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="WeChatToken" value="31e262db737d4658c53d220b54e0f289"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<sessionState mode="StateServer"></sessionState>
		<compilation debug="true">
		</compilation>
        <httpRuntime maxRequestLength="20480" executionTimeout="120"></httpRuntime>       
    </system.web>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
			<mimeMap fileExtension=".png" mimeType="image/x-png"/>
			<mimeMap fileExtension=".gif" mimeType="image/gif"/>
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg"/>
		</staticContent>
	</system.webServer>
</configuration>
