<?xml version="1.0"?>
<configuration>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"></compilation>
		<httpRuntime maxRequestLength="20480" executionTimeout="120"></httpRuntime>
	</system.web>
	<!--<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
			<mimeMap fileExtension=".png" mimeType="image/x-png"/>
			<mimeMap fileExtension=".gif" mimeType="image/gif"/>
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg"/>
		</staticContent>
	</system.webServer>-->
</configuration>
