<div id="header"><h1><a href="/" class="tip-bottom" title="{UI.AppName}">{UI.AppName}</a></h1></div>
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li class=""><a title="" href="javascript:GotoPage('/base/setting.aspx');"><i class="icon icon-cog"></i> <span class="text">微信设置</span></a></li>
    <li class=""><a title="" href="javascript:GotoPage('/base/fans.aspx');"><i class="icon icon-group"></i> <span class="text">订阅者</span><script src="/base/fans.aspx?action=getnewcount"></script> </a></li>
    <li class=""><a title="" href="javascript:GotoPage('/base/account.aspx');"><i class="icon icon-user"></i> <span class="text">管理员</span></a></li>
    <li class=""><a title="" href="/login.aspx?do=logout"><i class="icon-key"></i> <span class="text">注销登录</span></a></li>
  </ul>
  <div style="clear:both;"></div>
</div>