<div id="sidebar">
  <ul>
    <li class="menuli"><a href="javascript:GotoPage('main.aspx');"><i class="icon icon-home"></i> <span>概况</span></a> </li>
    <li class="menuli"><a href="javascript:GotoPage('base/rulesauto.aspx');"><i class="icon icon-th"></i> <span>自动回复规则</span></a></li>
    <li class="menuli"><a href="javascript:GotoPage('base/rulesmethod.aspx');"><i class="icon icon-inbox"></i> <span>代码处理规则</span></a></li>
    <li class="menuli"><a href="javascript:GotoPage('http://weback.wlniao.com');"><i class="icon icon-info-sign"></i> <span>QQ交流群：103608853</span></a></li>
  </ul>
</div>